<template>
    <div class="chart">
        <h6>{{name}}</h6>
        <canvas height="250" :id="graphId"></canvas>
    </div>
</template>

<script>
    import planetChartData from '@/charts/histogram_1.js';
    
    export default {
        props: ['graphId','name'],
        methods: {
            createChart(chartId, chartData) {
                const ctx = document.getElementById(chartId);
                const myChart = new Chart(ctx, {
                    type: chartData.type,
                    data: chartData.data,
                    options: chartData.options
                });
            }
        },
        data() {
            return {
                planetChartData: planetChartData
            }
        },
        mounted() {
            this.createChart(this.graphId, this.planetChartData)
        }
    }
</script>

<style>
    .chart {
        padding: 10px;
        background-color: #3a3a3a;
        border-radius: 5px;
    }
</style>
