<template>
  <div class="chart">
    <h5>{{graphId}}</h5>
    <div class="my-card mx-2">
      <span align-self="start" class="card-text mx-2 my-2">Unique connected visitors</span>
      <span align-self="end" class="card-value mx-2 my-2">197,778</span>
    </div>
    <div class="my-card mx-2">
      <div class="box-1"></div>
    </div>
    <!-- <canvas height="100" :id="graphId"></canvas> -->
    <!-- {{values}} -->
  </div>
</template>

<script>
import planetChartData from "@/charts/piechart.js";

export default {
  props: ["graphId", "values"],
  methods: {
    createChart(chartId, chartData) {
      const ctx = document.getElementById(chartId);
      const myChart = new Chart(ctx, {
        type: chartData.type,
        data: chartData.data,
        options: chartData.options
      });
    }
  },
  data() {
    return {
      planetChartData: planetChartData
    };
  },
  mounted() {
    this.createChart(this.graphId, this.planetChartData);
  }
};
</script>

<style>
.chart {
  padding: 10px;
  background-color: #3a3a3a;
  border-radius: 5px;
}
.my-card {
  background-color: #04a773 !important;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  /* display: inline; */
  /* flex-direction: row !important; */
  padding: 10px;
}

.card-value {
  background-color: gray;
  border-radius: 2px;
}

.box-1{
    height: 100%;
    background-color: gray;
    margin:0px;
}
</style>
