/* eslint-disable */
<template>
  <div>
    <div v-for="t in titleCard" :key="t.id">
      <b-card :title="t.value" tag="article" style="max-width: 20rem;" class="mb-2" :class="{true : t.delta.status}">
        <p class="card-text">
          {{t.title}}
        </p>
        <span class="card-status">
          <font-awesome-icon v-if='t.delta.status == true' icon="caret-down" />
          <font-awesome-icon v-if='t.delta.status == false' icon="caret-up" />
             {{t.delta.value}}
        </span>
      </b-card>
    </div>
  </div>
</template>

<script>
  export default {
  
    name: "cards",
    props: ['titleCard'],
    data() {
      return {
        // name: ['hh']
      }
    }
  }
</script>

<style scoped>
  .true{
    background-color: #a70404 !important;
  }
  .false{
    background-color: #a70404;
  }
  .mb-2 {
    color: white;
    text-align: center;
    background-color: #04a773;
    margin:0px;
  }
  .card-text{
    font-size: 14px;
    margin:0px;
  }
  .card-title{
    margin:0px;
  }
  .card-body {
    padding:10px;
  }
</style>
