/* eslint-disable */
<template>
  <div id="app">
    <div id="nav">
      <h3 class="pt-3 px-4">Dashboard</h3>
    </div>
    <b-container fluid>
      <main class="main">
        <div class="sidebar-control">
          <SideBar/>
        </div>
        <div class="content">
          <Graphs/>
        </div>
      </main>
    </b-container>
    <!-- <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>-->
    <!--     
    <router-view/>-->
    <div class="nav footer">
      <span class="footer-text py-2">Powered by aDFOLKS&trade;</span>
    </div>
  </div>
</template>

<script>
import SideBar from "@/components/SideBar.vue";
import Graphs from "@/components/Graphs.vue";
export default {
  components: {
    SideBar,
    Graphs
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #1f1f1f;
  margin: 0px;
}

.sidebar-control {
  padding: 8px;
  background-color: #3a3a3a;
  border-radius: 5px;
  width: 20%;
}

nav {
  padding: 10px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

html {
  background-color: #1f1f1f;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* flex-grow: inherit; */
}

.content {
  flex: 1;
}

.footer-text{
  width: 100%;
}
.footer {
  text-align: center !important;
}
</style>
